<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/princesoni/AppiumTask">
        <classes>
            <class name="test.SmokeTest">
                <methods>
                    <include name="testZoomApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>